.header__menu-burger {
  background-color: #052b58;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../../../images/menu.png);
  object-fit: cover;
  height: 30px;
  width: 30px;
  border: 0px;
  display: none;
}

.header__menu-burger:hover {
  background-image: url(../../../images/menu-or.png);
}

@media (max-width: 1194px) {
  .header__menu-burger {
    margin-top: 12px;
    margin-left: 20px;
    display: block;
  }
}
