.footer__menu-link {
  font-family: "PTSans-Caption";
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-decoration: none;
  list-style-type: none;
  color: #e3e8ee;
  letter-spacing: 1.4px;
}

.footer__menu-link:hover{
  font-family: 'PTSans-CaptionBold';
  font-weight: 400;
}

@media (max-width: 950px) {
  .footer__menu-link {
    position: absolute;
    left: 20px;
  }
}