@media screen and (max-width: 1194px) {
  .menu__links_opened {
    padding: 20px 20px;
    box-sizing: border-box;
    top: 39px;
    position: absolute;
    background-color: #052b58;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 15px;
    height: 250px;
    margin: 20px auto 10px;
    z-index: 10;
  }
}

.menu-links_opened {
  display: flex;
}