.contest {
    margin: 0;
    padding: 20px 100px 55px;
    background-color: #fff;
  }
  
  @media (max-width: 768px) {
    .contest {
      padding: 40px 20px 40px;
    }
  }

  @media (max-width: 380px) {
    .contest {
      padding: 10px 0px 40px;
    }
  }