.header__menu {
  position: relative;
  margin: 0 auto;
  align-items: center;
  border-top: 4px solid #0f4f8f;
  border-bottom: 4px solid #052b58;
  width: 100%;
  gap: 75px;
}

@media (max-width: 910px) {
  .header__menu{

  }
}
