.header__search-block {
  width: 100%;

  border: 0;
  
}


.header__search-block {
  height: 54px;
  background-color: aliceblue;
  position: absolute;
  align-items: center;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
}

/* @media (max-width: 1770px) {
  .header__search-block {
    padding-left: 150px;
    padding-right: 150px;
  }
}

@media (max-width: 1600px) {
  .header__search-block {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (max-width: 1440px) {
  .header__search-block {
    height: 59px;
    padding-left: 10px;
    padding-right: 10px;
  }
} */
