.header__search {
  height: 40px;
  background-color: transparent;
  text-align: right;
  border: 0;
  margin-right: 20px;
  width: 100%;
  flex: 1;
}

.header__search:focus {
  outline: none;
}

@media (max-width: 400px) {
  .header__search {
    /* width: 150px; */
    /* margin-right: -10px; */
  }
}
