.footer__menu {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  width: 100%;
}

@media (max-width: 1260px) {
  .footer__menu {
    /* padding-left: 20px; */
    height: 52px;
  }
}

@media (max-width: 768px) {
  .footer__menu {
    /* max-width: 20px; */
  }
}