.footer__menu {
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  max-width: 1400px;
  
}

@media (max-width: 950px) {
  .footer__menu {
    height: 55px;
  }
}

@media (max-width: 768px) {
  .footer__menu {
    max-width: 320px;
  }
}