.header__menu-links {
  padding: 0;
  /* margin-left: 100px; */
  display: flex;
  max-width: 1186px;
  width: 100%;
  gap: 20px;
  /* justify-content: flex-start; */
}

@media (max-width: 810px) {
  .header__menu-links{
    display: none;
    height: 20px;
  }
}
