.header__menu-links {
  padding: 0;
  /* margin-left: 100px; */
  display: flex;
  max-width: 1194px;
  width: 100%;
  gap: 30px;
  /* justify-content: flex-start; */
}

@media (max-width: 1449px) {
  .header__menu-links{
    padding-left: 20px;
  }
}

@media (max-width: 1244px) {
  .header__menu-links{
    gap: 20px;
  }
}

@media (max-width: 1194px) {
  .header__menu-links{
    display: none;
    height: 20px;
  }
}
