.intelligence__conteiner {
    display: block;
    align-items: start;
    justify-content: space-between;
    gap: 30px;
  }

  .intelligence__conteiner p{
    text-align: justify;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
  }

  .intelligence__conteiner p:last-child{
    margin-bottom: 0px;
}
  
  @media (max-width: 768px) {
    .intelligence__conteiner {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0;
    }
  }
  