.header__eyes {
  margin-top: 26px;
  display: flex;
  justify-content: space-between;
  /* gap: 10px; */
  align-items: center;
  max-width: 160px;
  width: 100%;
}

@media (max-width: 768px) {
  .header__eyes {
    position: absolute;
    width: 300px;
    top: 110px;
    left: 20px;
  }
}
