.gallery__shad {
  bottom: 0;
  position: absolute;
  width: 440px;
  height: 225px;
  background-image: url(../../../images/shad.png);
  z-index: 1;
}

@media (max-width: 460px) {
  .gallery__shad {
    width: 360px;
  }
}
