.footer__text{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 24px 100px;
}

@media (max-width: 768px) {
    .footer__text{
        margin: 0;
        padding: 24px 20px;
    }
}