.header__lupa{
    width: 25px;
    height: 25px;
    margin-top: 14px;
    margin-right: 120px;
}

@media (max-width: 805px) {
    .header__lupa{
      justify-content: space-between;
      margin-right: 20px;
      margin-bottom: 20px;
    }
  }