.header__lupa {
  background-color: #052b58;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../../../images/lupa.png);
  object-fit: cover;
  width: 25px;
  height: 25px;
  border: 0px;
  margin-top: 14px;
  margin-right: 40px;
  cursor: pointer;
}

@media (max-width: 925px) {
  .header__lupa {
    justify-content: space-between;
    margin-right: 20px;
    margin-bottom: 20px;
  }
}
