.header__img-grid {
  display: flex;
  margin-top: 20px;
  width: auto;
  gap: 20px;
  max-width: 1262px;
  width: 100%;
}

@media (max-width: 768px) {
  .header__eyes {
display: block;
    margin-top: 200px;
  }
}