.site-page {
  gap: 10px;
  display: flex;
  justify-content: flex-start;
  /* width: 360px; */
  /* position: absolute; */
  top: -25px;
  margin-bottom: 10px;
}

@media (max-width: 400px) {
  .site-page {
    width: 330px;
  }
}

@media (max-width: 380px) {
  .site-page {
    width: 300px;
    margin-left: 20px;
  }
}
