.base {
    margin: 0;
    padding: 55px 100px 55px;
    background-color: #fff;
  }
  
  @media (max-width: 768px) {
    .base {
      padding: 40px 20px 40px;
    }
  }

  .base-site-page {
    margin: 0;
    padding: 20px 100px 55px;
    background-color: #fff;
  }
  
  @media (max-width: 768px) {
    .base-site-page {
      padding: 40px 20px 40px;
    }
  }
  