.contest__grid-item-name {
  min-height: 117px;
  max-width: 440px;
  background-color: #0f4f8f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1110px) {
  .contest__grid-item-name {
    max-width: 360px;
  }
}
