.news__sub {
  font-family: 'PTSans-CaptionBold';
  font-size: 42px;
  line-height: 48px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin: 0;
  margin-bottom: 33px;
  padding: 0;
  color: #3b3c56;
}
