.header__content {
  display: flex;
  justify-content: center;
  margin: 25px auto 25px;
  gap: 20px;
  max-width: 1400px;
}

@media (max-width: 1440px) {
  .header__content {
    /* max-width: 768px; */
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 768px) {
  .header__content {
    max-width: 768px;
    margin-left: 185px;
    margin-right: 20px;
    min-height: 225px;
    margin-top: 122px;
  }
}
