.useful__conteiner{
    display: flex;
    flex-flow: row wrap;
    gap: 102px;
    /* margin-bottom: 40px; */
}

.useful__conteiner:last-child{
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .useful__conteiner {
        gap: 40px;
    }
  }