.footer {
  /* border-top: 7px solid #0f4f8f; */
  /* border-bottom: 7px solid #0f4f8f; */
  /* max-width: 1600px; */
  color: #052b58;
  background-color: #052b58;
  border-top: 4px solid #0f4f8f;
}
