.conditions__conteiner{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 60px;
}

.conditions__conteiner:last-child{
    margin-bottom: 0;
}

@media (max-width: 1140px) {
    .conditions__conteiner {
      display: block;
      margin-bottom: 40px;
    }
  }