.introduction__link{
    text-align: center;
    display: block;
    padding: 0;
    width: 100%;
    font-size: 17px;
    line-height: 30px;
    color: #e3e8ee;
}

.introduction__link:hover{
    color: #ff8400;
}