.conditions__information{
    font-family: "PTSans-CaptionBold";
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: normal;
    font-weight: 400;
    color: #27272b;
    margin-bottom: 5px;
}