.button {
  text-decoration: none;
  height: 57px;
  width: 330px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: "PTSans-CaptionBold";
  font-size: 21px;
  line-height: 22px;
  font-weight: 400;
}
