.footer__menu-links {
    max-width: 1600px;
    padding: 0;
    /* margin-left: 100px; */
    display: flex;
    width: 100%;
    /* justify-content: space-between; */
    list-style-type: none;
    gap: 20px;
  }

  @media (max-width: 768px) {
    .footer__menu-links {
      max-width: 768px;
    }
  }

