.links__grid {
  column-width: 33%;
  column-count: 3;
  column-gap: 4%;
}

@media (max-width: 768px) {
  .links__grid {
    column-width: 50%;
    column-count: 2;
    column-gap: 4%;
  }
}

@media (max-width: 620px) {
    .links__grid {
      column-width: 100%;
      column-count: 1;
    }
  }
